@import "reset.scss";
@import "vars.scss";

body,
button {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.App {
    position: relative;
}

.home {
    .main-area {
        margin-left: 300px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

svg:focus {
    outline: 2px solid blue; 
}

.selected  {
    outline: 2px solid #000 !important;
}

.main-area {
    position: relative;
    margin-left: 300px;
}

.main-area__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 15px;
}

.main-area__content {
    margin-bottom: 15px;
}

.main-area__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

@import "./blocks//sidebar.scss";
@import "./blocks//person-block.scss";
@import "./blocks/modal.scss";
@import "./blocks//form.scss";
@import "./blocks/sort-area.scss";
@import "./blocks/comment.scss";
@import "./blocks/file-upload-btn.scss";
@import "./blocks/table.scss";
@import "./blocks/pagination.scss";