@import "reset.scss";
@import "vars.scss";

body,
button {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.App {
    position: relative;
}

.home {
    .main-area {
        margin-left: 300px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

svg:focus {
    outline: 2px solid blue;  /* Добавьте стиль для видимости фокуса */
  }

.selected  {
    outline: 2px solid #000 !important;
}

.main-area {
    position: relative;
    margin-left: 300px;
}

.mani-area__header {
    display: flex;
    align-items: center;
    justify-content: space-between
}


@import "./blocks//sidebar.scss";
@import "./blocks//person-block.scss";
@import "./blocks/modal.scss";
@import "./blocks//form.scss";
@import "./blocks/sort-area.scss";
@import "./blocks/comment.scss";

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  th {
    cursor: pointer;
    background-color: #f2f2f2;
  }
  .td {
    text-align: center;
  }

  .comm-text {
    margin-bottom: 15px;
  }